.profile__add{
    border: 0;
    padding: 0;
    width: 282px;
    height: 50px;
    background-image: url(../../../images/Add_Button.png);
    background-size: cover;
    background-color: #000000;
    margin-top: 33px;
}
.profile__add:hover{
    opacity: 0.6;
    cursor: pointer;
}
@media screen and ( min-width: 1280px ){
    .profile__add{
        margin-top: 35px;
        margin-left: 244px;
        width: 150px;
        background-image: url(../../../images/Add_Button_В.png);
    }
    
}