.places__like{
    border: 0;
    padding: 0;
    width: 22px;
    height: 19px;
    background-image: url(../../../images/like.svg);
    background-size: cover;
    background-color: #FFFFFF;
}
.places__like:hover{
    opacity: 0.5;
    cursor: pointer;
}
.places__like:active{
    background: #000000;
}