.profile__title{
    margin: 0px 10px 0px 0px;
    font-weight: 500;
    font-size: 27px;
    line-height: 33px;
    width: 190px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
}
@media screen and ( min-width: 1280px ){
    .profile__title{
        font-size: 42px;
        line-height: 48px;
        margin: 0px 19px 0px 0px;
        width: 294px;
        text-align: left;
    }
}
