.popup__close_login{
    position: absolute;
    width: 32px;
    height: 32px;
    
    background-image: url(../../../../images/CloseIconD.png);
    background-color: transparent;
    background-position: 50%;
    background-repeat: no-repeat;
    border: none;
    top: -40px;
    right: -40px;
    padding: 0;
    margin: 0;
    cursor: pointer;
    align-self: flex-end;
    background-size: cover;
}