.popup__input{
    border: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    padding: 0px 0px 9px 0px;
    color: #000000;
    outline: none;
    margin-top: 75px;
}
.popup__input:nth-child(1n+3){
    margin-top: 30px;
}
@media screen and ( min-width: 1280px ){
    .popup__input{
        margin-top: 48px;
        //padding-bottom: 48px;
    }
}