.page{
    position: relative;
    min-width: 320px;
    margin: 0 auto;
    background: #000000;
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    color: #FFFFFF;
}
@media screen and ( min-width: 1280px ){
    .page{
        width: 880px;
        display: flex;
        flex-direction: column;
        
        
        
    }
}