@import url(./vendor/normalize.css);
@import url(./vendor/inter.css);
@import url(./blocks/page/page.css);

@import url(./blocks/header/header.css);
@import url(./blocks/header/__logo/header__logo.css);
@import url(./blocks/header/__nav/header__nav.css);
@import url(./blocks/header/__nav/_right/header__nav_right.css);
@import url(./blocks/header/__status/header__status.css);
@import url(./blocks/header/__link/header__link.css);
@import url(./blocks/header/__email/header__email.css);

@import url(./blocks/header/__burger/header__burger.css);
@import url(./blocks/header/__burger_active/header__burger_active.css);
@import url(./blocks/header/__burger-wrapper/header__burger-wrapper.css);
@import url(./blocks/header/_menu-show/header_menu-show.css);

@import url(./blocks/profile/profile.css);
@import url(./blocks/profile/__avatar/profile__avatar.css);
@import url(./blocks/profile/__foto-avatar/profile__foto-avatar.css);
@import url(./blocks/profile/__title-box/profile__title-box.css);
@import url(./blocks/profile/__title/profile__title.css);
@import url(./blocks/profile/__edit/profile__edit.css);
@import url(./blocks/profile/__subtitle/profile__subtitle.css);
@import url(./blocks/profile/__add/profile__add.css);

@import url(./blocks/places/places.css);
@import url(./blocks/places/__card/places__card.css);
@import url(./blocks/places/__image/places__image.css);
@import url(./blocks/places/__title/places__title.css);
@import url(./blocks/places/__like-container/places__like-container.css);
@import url(./blocks/places/__like/places__like.css);
@import url(./blocks/places/__like-number/places__like-number.css);
@import url(./blocks/places/__like/_active/places__like_active.css);
@import url(./blocks/places/__delete/places__delete.css);

@import url(./blocks/places/__delete/_not-visible/places__delete_not-visible.css);

@import url(./blocks/footer/footer.css);
@import url(./blocks/footer/__author/footer__author.css);

@import url(./blocks/popup/popup.css);
@import url(./blocks/popup/__container/popup__container.css);
@import url(./blocks/popup/_opened/popup_opened.css);
@import url(./blocks/popup/__form/popup__form.css);
@import url(./blocks/popup/__close/popup__close.css);
@import url(./blocks/popup/__title/popup__title.css);
@import url(./blocks/popup/__input/popup__input.css);
@import url(./blocks/popup/__input/_type/popup__input_type_error.css);
@import url(./blocks/popup/__save/popup__save.css);
@import url(./blocks/popup/__save/_disabled/popup__save_disabled.css);
@import url(./blocks/popup/__image/popup__image.css);
@import url(./blocks/popup/_img/popup_img.css);
@import url(./blocks/popup/__title/_img/popup__title_img.css);
@import url(./blocks/popup/__save/_delete/popup__save_delete.css);
@import url(./blocks/popup/__title/_delete/popup__title_delete.css);
@import url(./blocks/popup/__form/_delete/popup__form_delete.css);
@import url(./blocks/popup/__form/_avatar/popup__form_avatar.css);
@import url(./blocks/popup/__content/popup__content.css);
@import url(./blocks/popup/__title/_login/popup__title_login.css);
@import url(./blocks/popup/__icon/popup__icon.css);
@import url(./blocks/popup/__close/_login/popup__close_login.css);


@import url(./blocks/error/error.css);
@import url(./blocks/error/_visible/error_visible.css);

@import url(./blocks/register/register.css);
@import url(./blocks/register/__welcome/register__welcome.css);
@import url(./blocks/register/__form/register__form.css);
@import url(./blocks/register/__input/register__input.css);
@import url(./blocks/register/__button-container/register__button-container.css);
@import url(./blocks/register/__link/register__link.css);
@import url(./blocks/register/__login-link/register__login-link.css);
@import url(./blocks/register/__signin/register__signin.css);
@import url(./blocks/register/__login-text/register__login-text.css);


@import url(./blocks/login/login.css);
@import url(./blocks/login/__welcome/login__welcome.css);
@import url(./blocks/login/__form/login__form.css);
@import url(./blocks/login/__input/login__input.css);
@import url(./blocks/login/__button-container/login__button-container.css);
@import url(./blocks/login/__link/login__link.css);
@import url(./blocks/login/__signup/login__signup.css);
@import url(./blocks/login/__signup-link/login__signup-link.css);

html{

    background: #000000;
}


